# MacOS filesystem data
/.DS_Store

# IntelliJ IDEA environment files/folders
/.idea
/.idea/*

# Eclipse for Java developers files/folders
/.metadata
/.metadata/*
/.settings
/.settings/*
.classpath
.project

# Default folder for results output
/results/
# Folder for binaries. Binaries are re-build after every change in code!
/bin/
/bin_idea/
