# MacOS filesystem data
/.DS_Store

# IntelliJ IDEA environment files/folders
/.idea
/.idea/

# Eclipse for Java developers files/folders
/.metadata
/.metadata/
/.settings
/.settings/
.classpath
.project


/results/
